.question-wrapper,
.question-list {
    display: flex;
    gap: 1.25em;
}

.question-wrapper {
    position: relative;
    flex-direction: column;
    border-radius: 6.7px;
    padding: 1em;
    text-align: start;
}

.question-wrapper::after {
    content: '';
    position: absolute;
    bottom: -.33em;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-accent);

}

.question-list {
    justify-content: start;
    list-style-type: none;
    flex-wrap: wrap;
}

.question-list-item {
    min-width: 1.25em;
    color: var(--color-primary-dark);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    text-decoration: none;
    border: none;
    box-shadow: var(--btn-color-primary) 0 0 1px 1px ;
    padding-block: .4em;
    padding-inline: 1em;
    border-radius: .75em;
    background-color: transparent;
}

.question-list-item:hover {
    cursor: pointer;
    opacity: .75;
}