#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

a {
  min-width: 12em;
  width:fit-content;
  place-self: center;
  text-decoration: none;
  font-size: 1em;
  background-color: var(--btn-color-primary);
  color: var(--color-primary-light);
  padding-inline: 2.5rem;
  padding-block: 1.15em;
  border: none;
  border-radius: 1em;
}

a:hover {
  cursor: pointer;
  opacity: .9;
}

a:active {
  opacity: .75;
}

.router-link-button {
  margin-top: 1.5em;
}

